

.wrapper{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.coffeeshopsWrapper{
  display: flex;
  flex-wrap: wrap;
}

.main{
  flex-grow: 4;
}

.aside{
  flex-grow: 1;
}
.formPadding{
  padding: 20px;
}
